---
layout: page
title:  Archive
permalink: /archive/
---

<div class="archive">
  <div class="timeline" id="timeline">
    {% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
    {% for year in postsByYear %}
        <div class="archive-title">
            <h1 class="archive-year">{{ year.name }}</h4>
        </div>
      {% assign postsByMonth = year.items | group_by_exp:"post", "post.date | date: '%B'" %}

      {% for month in postsByMonth %}
        <div class="archive-title">
          <h4 class="archive-month">{{ month.name }}</h4>
        </div>
        <ul>
          {% for post in month.items %}
            <li><div style="width:80px;float:left;padding-left:20px;">{{ post.date | date: "%b %-d" }}</div> <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>

      {% endfor %}
    {% endfor %}
  </div>
</div>