<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    Third year CSE student at Indian Institute of Technology, Jammu with a keen interest in Cyber Security and Ethical Hacking. Trying to get through puzzles and other pieces of software, hacking into games and an interest in computer networks introduced me to the world of Ethical Hacking, where I'm aiming to be in the future. Currently, I'm participating in various CTFs and learning about the various aspects of Cyber-Security and Ethical Hacking. 
</div>